body{
    font-family: 'Zilla Slab', serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.cyan-highlight{
    color:dodgerblue;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, #fa9d78, #f54f31);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
  }
  .bottom-banner{
      background-image:url(Images/dream-bg.png);
      background-repeat: no-repeat;
      background-position: right;
  }
  p{
      color: dimgray;
  }
  .single-experience {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
  }
  #awards {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #fa9d78, #f54f31);
    border-image-slice: 1;
    background-color: white;
  }
  .song-area{box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 260%;
    width: 55%;
    margin-left: 399px;
    border-left: 10px solid salmon;

  }
  .prematal{
      position: absolute;
      left: 480px;
  }
  .raabta{
    position: absolute;
    margin-top: 400px;
    margin-left: 70px;
    
  }
  .zayn{position: absolute;
    margin-top: 800px;
    margin-left: 70px;

  }

